<!-- Put HTML here -->

<section class="inner-page pt-4">
    <div class="container">
        {% include headline-block.html %}
        {% include feat-image-block.html %}
        <center><b>{% include cycling-tags-post-gray.html %}</b></center>
        <br><br>
        <a href="#portfolio" style="color: #333;"><h5><b><i class="fa-solid fa-utensils"></i> <u>Springe Direkt zum Rezept <i class="fa-regular fa-circle-down"></i></u></b></h5></a>
        
        {% if site.data.[page.datafile].Artikeltexte.einleitungstext %}
            <p>
                {{ site.data.[page.datafile].Artikeltexte.einleitungstext }}
            </p>
            <p style="text-align: right;">
                <a href="#" style="color: #333">Scrolle zum Anfang <i class="fa-solid fa-chevron-up"></i></a>
            </p>
        {% endif %}

        {% if site.data.[page.datafile].Artikeltexte.zutatentext %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12 col-lg-4">
                <img src="/assets/images/zutaten.png" alt="Zutaten" />
            </div>
            <div class="col-12 col-lg">
                <h3>Über die Zutaten:</h3>
                <p>
                    {{ site.data.[page.datafile].Artikeltexte.zutatentext }}
                </p>
            </div>
        </div>
            <p style="text-align: right;">
                <a href="#" style="color: #333">Scrolle zum Anfang <i class="fa-solid fa-chevron-up"></i></a>
            </p>
        {% endif %}        

        {% if site.data.[page.datafile].Artikeltexte.variationentext %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12 col-lg-4">
                <img src="/assets/images/variations.png" alt="Variationen" />
            </div>
            <div class="col-12 col-lg">
                <h3>Variationen:</h3>
                <p>
                    {{ site.data.[page.datafile].Artikeltexte.variationentext }}
                </p>
            </div>
        </div>
        <p style="text-align: right;">
            <a href="#" style="color: #333">Scrolle zum Anfang <i class="fa-solid fa-chevron-up"></i></a>
        </p>
        {% endif %}
        
        {% if site.data.[page.datafile].Artikeltexte.serviervorschlaegetext %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12 col-lg-4">
                <img src="/assets/images/serving-tips.jpg" alt="Variationen" />
            </div>
            <div class="col-12 col-lg">
                <h3>Serviervorschläge:</h3>
                <p>
                    {{ site.data.[page.datafile].Artikeltexte.serviervorschlaegetext }}
                </p>
            </div>
        </div>
        <p style="text-align: right;">
            <a href="#" style="color: #333">Scrolle zum Anfang <i class="fa-solid fa-chevron-up"></i></a>
        </p>

        {% endif %}


        {{ content }}

        {% include tab-block-new.html %}
        <p style="text-align: right;">
            <a href="#" style="color: #333">Scrolle zum Anfang <i class="fa-solid fa-chevron-up"></i></a>
        </p>
        {% include related-posts.html %}
        <p style="text-align: right;">
            <a href="#" style="color: #333">Scrolle zum Anfang <i class="fa-solid fa-chevron-up"></i></a>
        </p>
        <section class="content5 cid-tyyJcTFpkx" data-bs-version="5.1" id="content5-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <p class="mbr-text mbr-fonts-style display-7">
                            {% include blog-nav-block.html %}
                        </p>
                    </div>
                </div>
            </div>
            <!-- content-template END -->
        </section>
        {% include social-share-block.html %}
    </div>
  </section>