<!-- ======= Team Section ======= -->
<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Unsere Rezepte:</h2>
        </div>
        <div class="row">
            {% for post in paginator.posts %}
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="{{ post.thumbnail }}" alt="" /></div>
                    <div class="details">
                        <h4><a href="{{ post.url }}" style="color:white">{{ post.headline }}</a></h4>
                        <div>
                            <p>{% include cycling-tags-post.html %}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Team Section -->
