<footer id="colophon" class="clearfix">
    <div class="footer-socket-wrapper clearfix">
        <div class="inner-wrap">
            <div class="footer-socket-area">
                <div class="footer-socket-right-section"></div>

                <div class="footer-socket-left-section">
                    <div class="copyright">
                        Copyright &copy; {{ 'now' | date: "%Y" }} <a href="/" title="{{ site.logotitle }}"><span>{{ site.logotitle }}</span></a>. All rights reserved.<br />
                        <a href="/feed.xml" target="_blank"><b><i class="fa-solid fa-square-rss"></i> RSS-FEED</b></a>

                    </div>
                </div>
                <div class="footer-socket-right-section">
                    <div class="copyright">
                        <a href="/tos/">Terms Of Service |</a><a href="/privacy/">Privacy Policy |</a><a href="/disclaimer/">Disclaimer |</a><a href="/contact/">Contact Us |</a><a href="/about/">About Us</a>
                    </div>
                </div>
            </div>
            <!-- .footer-socket-area -->
        </div>
        <!-- .inner-wrap -->
    </div>
    <!-- .footer-socket-wrapper -->
</footer>
