<section data-bs-version="5.1" class="footer3 cid-tyyM4Fco2S" once="footers" id="footer3-7">
    <!-- FOOTER-BLOCK START -->

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright {{ site.sitename }}. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    <!-- FOOTER-BLOCK END -->
</section>