<section data-bs-version="5.1" class="menu menu2 cid-tyytkxj9QY" once="menu" id="menu2-0">
    <!-- HEADER-BLOCK START -->

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img data-src="{{ site.imglogopath }}" alt="Mobirise Website Builder" style="height: 3rem;" />
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">{{ site.sitename }}</a></span>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-bs-toggle="collapse"
                data-target="#navbarSupportedContent"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    {% assign name_page = "" %}
                    {% for page in site.pages %}
                        {% unless page.title == null or page.hide or name_page contains page.title %}
                        <!-- Put cycling HTML here: -->
                            <li class="nav-item"><a class="nav-link link text-black display-4" href="{{ page.url | relative_url }}"> {{ page.title }}</a></li>
                        <!-- End cycling HTML -->
                        {% endunless %}
                        {% assign name_page = page.title | append: name_page %}
                    {% endfor %}
 
                </ul>
            </div>
        </div>
    </nav>
    <!-- HEADER-BLOCK END -->
</section>
