<section data-bs-version="5.1" class="content6 cid-tyyI6WGbWh" id="content6-3">
    <!-- HEADLINE-BLOCK START -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <hr class="line" />
                <p class="mbr-text align-center mbr-fonts-style my-4 display-2">
                    <strong>{{ page.headline }}</strong>
                </p>
                <hr class="line" />
            </div>
        </div>
    </div>
    <!-- HEADLINE-BLOCK END -->
</section>