  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        

        <!-- <span><a href="index.html"><img src="{{ site.imglogopath }}" alt=""></a></span> -->
        <span><h1><a href="/">{{ site.sitename }}</span></a></h1></span>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% assign name_page = "" %}
          {% for page in site.pages %}
            {% unless page.menutitle == null or page.hide or name_page contains page.title %}
              <li><a class="nav-link scrollto " href="{{ page.url | relative_url }}">{{ page.menutitle }}</a></li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
            {% endfor %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->