<!-- Put Code For Header Here -->


<section data-bs-version="5.1" class="menu cid-s48OLK6784" once="menu" id="menu1-h">
    <!-- HEADER START -->

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img data-src="{{ site.imglogopath }}" alt="Mobirise Website Builder" style="height: 3.8rem;" />
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">{{ site.sitename }}</a></span>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-bs-toggle="collapse"
                data-target="#navbarSupportedContent"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
{% include menu-cycle.html %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- HEADER END -->
</section>