<div class="inner-wrap">
    <div id="header-text-nav-wrap" class="clearfix">
        <div id="header-left-section">
            <div id="header-logo-image">
                <a href="/" class="custom-logo-link" rel="home"><img width="208" height="69" src="{{ site.imglogopath }}" class="custom-logo" alt="{{ site.logotitle }}" /></a>
            </div>
            <!-- #header-logo-image -->

            <div id="header-text" class="">
                <h3 id="site-title">
                    <a href="/" title="{{ site.logotitle }}" rel="home">{{ site.logotitle }}</a>
                </h3>

                <p id="site-description">
                    {{ site.logosubtitle }}
                </p>
                <!-- #site-description -->
            </div>
            <!-- #header-text -->
        </div>
        <!-- #header-left-section -->

        <div id="header-right-section"></div>
        <!-- #header-right-section -->
    </div>
    <!-- #header-text-nav-wrap -->
</div>
