<!-- Put HTML-Code Here -->
<section data-bs-version="5.1" class="content5 cid-ty0rdnmEdI" id="content5-v">
    <!-- CONTENTBLOCK START -->
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    
                    
                    <p class="mbr-text mbr-fonts-style display-7">
                        {{ content }}</p>
                </div>
            </div>
        </div>
    <!-- CONTENTBLOCK END -->
    </section>
