<!-- Put Your JS-Scripts here: -->
<script type="text/plain" data-src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script>
<script src="/assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script>
<script type="text/plain" data-src="/assets/smoothscroll/smooth-scroll.js"></script>
<script type="text/plain" data-src="/assets/ytplayer/index.js"></script>
<script type="text/plain" data-src="/assets/dropdown/js/navbar-dropdown.js"></script>
<script type="text/plain" data-src="/assets/theme/js/script.js"></script>
<script type="text/plain" data-src="/assets/mbr-tabs/mbr-tabs.js"></script>