<nav id="site-navigation" class="main-navigation clearfix" role="navigation">
    <div class="inner-wrap clearfix">
        <div class="home-icon">
            <a href="/" title="{{ site.logotitle }}">
                <i class="fa fa-home"></i>
            </a>
        </div>

        <p class="menu-toggle"></p>
        <div class="menu">
            <ul>

              {% assign name_page = "" %}

              {% for page in site.pages %}
                  {% unless page.title == null or page.hide or name_page contains page.title %}
                  <li class="page_item page-item-7"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                  {% endunless %}
                  {% assign name_page = page.title | append: name_page %}
              {% endfor %}

              <div class="home-icon">
                  <a href="/search/" title="search">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </a>
              </div>
              <div class="home-icon">
                  <a href="/tags/" title="tags">
                      <i class="fa-solid fa-tags"></i>
                  </a>
              </div>

            </ul>
        </div>
    </div>
</nav>
