<section id="portfolio" class="portfolio">

    <style>
        input[type=checkbox]:checked + label.strikethrough{
      text-decoration: line-through;
      color: gray;
      font-style: italic;
    }
    </style>

    <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li class="filter-active" data-filter="*">Alles</li>
                    <li data-filter=".filter-rezeptinfos">Info</li>
                    <li data-filter=".filter-zutaten">Zutaten</li>
                    {% if site.data.[page.datafile].vorbereitung %}
                        <li data-filter=".filter-vorbereitung">Vorbereitung</li>
                    {% endif %}
                    {% if site.data.[page.datafile].zubereitung %}
                        <li data-filter=".filter-zubereitung">Zubereitung</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="portfolio-item filter-rezeptinfos">
                <div>
                    <h3>Rezeptinfos:</h3>
                    {% if site.data.[page.datafile].portionen %}
                        <b>{{ site.portionen_icon }} Portionen: <span class="badge bg-primary">{{ site.data.[page.datafile].portionen }}</span><br /></b>
                    {% endif %}
                    {% if site.data.[page.datafile].gesamtzeitaufwand %}
                        <b>{{ site.timer_icon }} Gesamtzeitaufwand: <span class="badge bg-primary">{{ site.data.[page.datafile].gesamtzeitaufwand }}</span></b>
                    {% endif %}
                    {% if site.data.[page.datafile].naehrwerte %}
                    <!-- Nährwerttabelle START -->
                    <div style="margin-top: 30px; line-height: 100%;">
                        <hr>
                        <h3>
                            <b>Nährwerte:</b>
                        </h3>
                        <p>Angaben pro 100g</p>
                        <hr style="border: 3px solid black;" />
                        <table style="border-collapse: collapse; width: 100%;" border="0">
                            <tbody>
                                {% if site.data.[page.datafile].naehrwerte.preis_pro_portion %}
                                <tr>
                                    <td style="width: 48.9015%;"><b>Preis / Portion:</b></td>
                                    <td style="width: 48.9015%; text-align: right;">
                                        <i><b>{{ site.data.[page.datafile].naehrwerte.preis_pro_portion }} EUR</b></i>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td style="width: 48.9015%;"><b>Menge / Portion:</b></td>
                                    <td style="width: 48.9015%; text-align: right;">
                                        <i><b>{{ site.data.[page.datafile].naehrwerte.menge_pro_portion }} g</b></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>
                            <b>Kalorien: {{ site.data.[page.datafile].naehrwerte.kalorien }}</b>
                        </h4>
                        <table style="border-collapse: collapse; width: 100%;" border="0">
                            <hr style="border: 3px solid black;" />
                            <table style="border-collapse: collapse; width: 100%;" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48.9015%;"><b>Fett</b></td>
                                        <td style="width: 48.9015%; text-align: right;">
                                            <i><b>{{ site.data.[page.datafile].naehrwerte.fett }} g</b></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 48.9015%;">&nbsp; Davon ges. Fetts.</td>
                                        <td style="width: 48.9015%; text-align: right;"><i>{{ site.data.[page.datafile].naehrwerte.ges_fette }} g</i></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr style="border: 1px dashed gray;" />
                            <table style="border-collapse: collapse; width: 100%;" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48.9015%;"><b>Kohlenhydrate</b></td>
                                        <td style="width: 48.9015%; text-align: right;">
                                            <i><b>{{ site.data.[page.datafile].naehrwerte.kohlenhydrate }} g</b></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 48.9015%;">&nbsp; Davon Zucker</td>
                                        <td style="width: 48.9015%; text-align: right;"><i>{{ site.data.[page.datafile].naehrwerte.zucker }} g</i></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr style="border: 1px dashed gray;" />
                            <table style="border-collapse: collapse; width: 100%;" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48.9015%;"><b>Ballaststoffe</b></td>
                                        <td style="width: 48.9015%; text-align: right;">
                                            <i><b>{{ site.data.[page.datafile].naehrwerte.ballaststoffe }} g</b></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr style="border: 1px dashed gray;" />
                            <table style="border-collapse: collapse; width: 100%;" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48.9015%;"><b>Eiwei&szlig;</b></td>
                                        <td style="width: 48.9015%; text-align: right;">
                                            <i><b>{{ site.data.[page.datafile].naehrwerte.eiweiss }} g</b></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr style="border: 1px dashed gray;" />
                            <table style="border-collapse: collapse; width: 100%;" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48.9015%;"><b>Salz</b></td>
                                        <td style="width: 48.9015%; text-align: right;">
                                            <i><b>{{ site.data.[page.datafile].naehrwerte.salz }} g</b></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </table>
                        <hr>
                    </div>
                    <!-- Nährwerttabelle ENDE -->
                    {% endif %}
                </div>
            </div>
            <div class="portfolio-item filter-zutaten">
                <div>
                    <h3>Zutaten:</h3>
                    {% for nextstep in site.data.[page.datafile].zutaten %}
                    <div class="form-check">
                        <hr style="border: 1px dashed gray;" />
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label strikethrough" for="flexCheckDefault">
                            {{ nextstep.s }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if site.data.[page.datafile].vorbereitung %}
                <div class="portfolio-item filter-vorbereitung">
                    <div>
                        <h3> Vorbereitung:</h3>
                        {% if site.data.[page.datafile].zeitaufwandvorbereitung %}
                        <h5>
                            <b>{{ site.timer_icon }} Vorbereitungszeit: <span class="badge bg-primary">{{ site.data.[page.datafile].zeitaufwandvorbereitung }}</span></b>
                        </h5>
                        {% endif %} {% for nextstep in site.data.[page.datafile].vorbereitung %}
                        <div class="form-check">
                            <hr style="border: 1px dashed gray;" />
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label strikethrough" for="flexCheckDefault">
                                {{ nextstep.s }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if site.data.[page.datafile].zubereitung %}
                <div class="portfolio-item filter-zubereitung">
                    <div>
                        <h3> Zubereitung:</h3>
                        {% if site.data.[page.datafile].zeitaufwandzubereitung %}
                        <h5>
                            <b>{{ site.timer_icon }} Zubereitungszeit: <span class="badge bg-primary">{{ site.data.[page.datafile].zeitaufwandzubereitung }}</span></b>
                        </h5>
                        {% endif %} {% for nextstep in site.data.[page.datafile].zubereitung %}
                        <div class="form-check">
                            <hr style="border: 1px dashed gray;" />
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label strikethrough" for="flexCheckDefault">
                                {{ nextstep.s }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- End Portfolio Section -->
