<!DOCTYPE html>
<html lang="en-US">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		{% include headline.html %}
		{% include blog-content.html %}

		{% include footer.html %}
		{% include mobirise-credit.html %}
        {% include scripts.html %}
		{% include cookie-alert.html %}
        {% if page.htmlbeforebodyend %}
			{% include {{ page.htmlbeforebodyend }} %}
        {% endif %}
    </body>
</html>